.background {
background-color: #0d47a1;
background-image: url('../img/background.png');

}

.card-content img {
	border: 1px solid #CCCCCC;
    padding: 10px;
	border-radius: 50px;
	margin-top: 10px;
	
}